body {
    background-image: url('https://th.bing.com/th/id/R.022ad64fc589cedc1e6dcdf1229d2571?rik=0q9jXc2JSZudWw&pid=ImgRaw&r=0');
}

.meni {
    background-color: #154734;
}

.meni ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.meni ul li a{
  text-decoration: none;
  font-size: 20px;
  color: white
}

.meni ul li{
  padding: 1em;
}

.meni ul li:hover{
  background-color: lightgray;

}

.btn_color a{
  background-color: #154734;
  color: white;
  text-decoration: none;
}

.btn_color {
  background-color: #154734;
  color: white;
}