.meni {
    background-color: #154734;
}

.meni ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.meni ul li a{
  text-decoration: none;
  font-size: 20px;
  color: white
}

.meni ul li{
  padding: 1em;
}

.meni ul li:hover{
  background-color: lightgray;

}