.meni {
    background-color: #ffe066;
    
}

.meni ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.meni ul li a{
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.meni ul li{
  padding: 1em;
}

.meni ul li:hover{
  background-color: lightgray;

}